In [1]:
import pandas as pd
import sqlite3

#connecting to the Chinook database
conn = sqlite3.connect("Chinook_Sqlite.sqlite")

In [8]:
#defining SQL query to retrieve the desired information
query = '''SELECT customer.Lastname, customer.Firstname, track.Name, album.Title FROM customer 
        INNER JOIN invoice ON customer.CustomerId = invoice.CustomerId 
        INNER JOIN invoiceline ON invoice.InvoiceId = invoiceline.InvoiceId 
        INNER JOIN track ON invoiceline.TrackId = track.TrackId 
        INNER JOIN album ON track.AlbumId = album.AlbumId 
        ORDER BY customer.Lastname, customer.Firstname;'''


#using pandas to read the results of the SQL query into a DataFrame
df = pd.read_sql(query, conn)

#sorting the DataFrame by Customer LastName, then Customer FirstName
df.sort_values(by=['LastName', 'FirstName'], inplace=True)

print(df)

        LastName FirstName                                               Name  \
0        Almeida   Roberto                            Right Next Door to Hell
1        Almeida   Roberto                                     In The Evening
2        Almeida   Roberto                                   Fool In The Rain
3        Almeida   Roberto  Saudade Dos Aviões Da Panair (Conversando No Bar)
4        Almeida   Roberto                             Caso Você Queira Saber
...          ...       ...                                                ...
2235  Zimmermann      Fynn                                    Nothin' To Lose
2236  Zimmermann      Fynn                         Since I've Been Loving You
2237  Zimmermann      Fynn                                Going To California
2238  Zimmermann      Fynn                                 We're Gonna Groove
2239  Zimmermann      Fynn                                         Ozone Baby

                             Title
0              Use Your Illusion I
1          In Through The Out Door
2          In Through The Out Door
3                            Minas
4                            Minas
...                            ...
2235              Unplugged [Live]
2236  BBC Sessions [Disc 2] [Live]
2237  BBC Sessions [Disc 2] [Live]
2238                          Coda
2239                          Coda

[2240 rows x 4 columns]